body {
    overflow: hidden;
    font-family: 'SF-Pro-Display-Medium', sans-serif;
    user-select: none;
}

p{
    font-family: 'SF-Pro-Display-Medium';
}

.MuiTypography-root{
    font-family: 'SF-Pro-Display-Medium';
}

@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url('./fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

.MuiTypography-root{
   font-family: 'SF-Pro-Display-Medium' !important;
}