@font-face {
  font-family: 'SF-Pro-Display-Medium';
  src: url('./fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'benzin-bold';
  src: url('./fonts/benzin-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'SF-Pro-Display-Medium', sans-serif !important;
  overflow-x: hidden;
}

.MuiTypography-root{
  font-family: 'SF-Pro-Display-Medium' !important;
}

.MuiButton-root{
  font-family: 'SF-Pro-Display-Medium' !important;
}

.logo{
  width: 90vw;
  height: 90vw;
}
